
# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.

################################################
# BASH                                         #
################################################

alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"

alias chmox='chmod -x'
alias c="clear"

################################################
# TYPOS                                        #
################################################

alias brwe='brew'
alias gti="git"

################################################
# ZSH                                          #
################################################

alias zshconfig="vim ~/.zshrc"
alias sourcezsh="source ~/.zshrc"

################################################
# GIT                                          #
################################################

alias gmaster="git checkout master"
alias gca="git commit --amend"

alias changelogs='git log --pretty=format:"[%h] %s"'

# Sometimes, when you do lots of rebasing/squashing, your git directory becomes very heavy.
# With this command, git automatically removes any orphan blob in the .git/ directory.
# Tested and approved! For a very often rebased repo, turned it from 4.8GB to 350MB... 😉
alias gcall = -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc --aggressive
      
# FEAT.
alias gfeat="!f() { git commit -m \"✨ feat: $@\"; }; f"
# FIX.
alias gfx="!f() { git commit -m \"👌 fix: $@\"; }; f"
# DOCS.
alias gdoc="!f() { git commit -m \"📖 docs: $@\"; }; f"
# STYLE
alias gstyle="!f() { git commit -m \"💄 style: $@\"; }; f"
# REFACTOR
alias grefactor="!f() { git commit -m \"🔥 refactor: $@\"; }; f"
# PERF
alias gperf="!f() { git commit -m \"📈 perf: $@\"; }; f"
# TEST
alias gtst="!f() { git commit -m \"✅ test: $@\"; }; f"
# BUILD
alias gbuild="!f() { git commit -m \"📦 build: $@\"; }; f"
# CI
alias gci="!f() { git commit -m \"💚 ci: $@\"; }; f"
# LOCALIZE
alias glocalize="!f() { git commit -m \"👽 localize: $@\"; }; f"
# REVERT
alias grvrt="!f() { git commit -m \"⏪ revert: $@\"; }; f"
# RELEASE.
alias grlz="!f() { git commit -m \"🚀 release: $@\"; }; f"

alias ct='sh ~/dotfiles/git/commit_types'

################################################
# DOCKER                                       #
################################################

alias docker-rm-all='docker rm -vf $(docker ps -aq)'
alias dc="docker-compose"
alias dcrmc="docker-compose exec php bin/console c:c"
alias rmc="rm -rf var/cache"

################################################
# SHORTCUTS                                    #
################################################

alias g="git"
alias v="vim"

################################################
# MISC                                         #
################################################

alias ip='ipconfig getifaddr en0'
alias al="alias"
alias af="alias-finder"